* {
    font-family: 'JetBrains Mono';
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: aquamarine;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.nav-list {
    width: 400px;
    display: inline;
    align-items: center;
    justify-content: space-between;
}

.nav-list button {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 4px 40px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(75, 5, 161);
}

.nav-list button:hover {
    cursor: pointer;
    background-color: rgb(23, 1, 49);
    transition: 70ms;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list li {
    display: inline;
    margin: 10px;
}

.nav-list li:hover {
    cursor: pointer;
    background-color: rgba(76, 76, 76, 0.199);
    padding: 6px;
    border-radius: 5px;
    transition: 50ms;
}


main {
    display: flex;
    flex-direction: column;

}

#content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(229, 16, 16);
}

#content1 h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

#content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(84, 52, 52);
}

#content2 article {
    padding: 90px;
}

#content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

/* main {
    display: flex;
    flex-direction: column;
} */


/* #content1 {
    background-color: grey;
}

#content1 h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

#content2 {
    background-color: rgb(198, 198, 198);
}

#content3 {
    background-color: #ADF0DD;
}

#content3 h2{
    font-size: 30px;
    font-weight: bold;
}

#content3 button{
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 4px 40px;
    border: 0;
    border-radius: 5px;
    background-color: white;
}

#content3 button:hover {
    cursor: pointer;
    transition: 70ms;
    background-color: rgba(76, 76, 76, 0.199);
} */





footer {
    background-color: #171625;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

footer span {
    font-weight: bold;
}