p {
    font-weight: bold;
    font-style: italic;
}

header {
    background-color: beige;
    width: 100%;
    height: 100px;
}

main {
    background-color: blanchedalmond;
}

footer {
    background-color: azure;
}