body {
    font-family: "Poppins", serif;
    background-color: grey;
}

header {
    height: 100px;
    background: linear-gradient(to right, #251D1B, #441717);
}

header h1 {
    padding: 30px; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}









main {
    background-color: white;
    height: 800px; 
    width: 100%;
}

form {
    border: 2px solid red;
}

form h2 {
    font-size: 67px;
    font-weight: 300;
}

/*
.input_style{
    background-color: transparent;
    border-radius: 8px;
}

.button_style{
    border-radius: 8px;
} */










footer {
    height: 35px;
    text-align: center;
    padding: 50px;
    background-color: #251D1B;
    font-weight: lighter;
    color: white;
}

footer hr {
    width: 70%;
}

footer span {
    font-weight: 300;
}