* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

header {
    text-align: center;
    height: 80px;
    background-color: rgb(57, 57, 57);
    border: 2px solid;
}

header h1{
    padding: 10px;
}

nav {
    border: 2px solid;
    height: 40px;
}

nav ul {
    list-style: none;
    padding-top: 10px;
}

nav li{
    display: inline;
    padding: 10px;
}

nav li:hover{
    background-color: rgba(101, 101, 101, 0.145);
}

main {
    display: flex;
    flex: 1;
    height: 50vh;
}

.section1, .section2 {
    border: 2px solid;
}

.section1 {
    overflow: hidden;
    width: 33.3%;
}

.section2 {
    width: 33.3%;
}

video {
    width: 100%;
    height: 100%;
}

.section3 {
    border: 2px solid;
    width: 33.3%;
}

#form {
    height: 50%;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.box-img{
    height: 50%;
    width: 100%;
    display: flex;
    border-top: 4px dotted ;
 }

footer {
    height: 60px;
    text-align: center;
    border: 2px solid;
}

footer p{
    padding-top: 20px;
}